<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
									
		<add key="Connection" value="Data Source = DESKTOP-PBGUL9N\MY_SQL_SERVICE;Initial Catalog=Library;Integrated Security=true"/>
		<add key ="ParentTable" value="Author"/>
		<add key="ChildTable" value="Buecher"/>
	</appSettings>
</configuration>